[Unit]
Description=Caddy
Documentation=https://caddyserver.com/docs/
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
User={{app_user}}
Group={{app_user}}
ExecStart=/bin/caddy run --environ --config /app/Caddyfile
ExecReload=/bin/caddy reload --config /app/Caddyfile --force
TimeoutStopSec=5s
LimitNOFILE=1048576
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
SyslogIdentifier={{component}}

[Install]
WantedBy=multi-user.target